<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/logo.png" />
    </a>

    <ul class="navbar-nav ms-2 mr-5 w-100">

      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients" (click)="null">
          Zutaten
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/recipe" (click)="null">
          Rezepte
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" (click)="null">
          Kalender
        </a>
      </li>

    </ul>

  </div>
</nav>
