<div style="border: 1px solid black; border-radius: 25px;margin-top: 1em;cursor: pointer;" class="container">
  <div class="row">
    <div class="col align-items-center" style="padding-left: 0;display: flex;" (click)="goToDetailedView()">
      <img src="assets/nopic.jpg" alt="ingredient image" style="border-radius: 25px;max-width: 128px; max-height: 128px; align-items: center;" />
      <!-- TODO: use proper main image once User Story completed-->
    </div>

    <div class="col" (click)="goToDetailedView()">
      <p><b><u>{{ recipe.name }}</u></b></p>
      <p>{{ recipe.recipeCategory }} - <i>{{ recipe.mealType }}</i></p>
      <p> {{getPreparationTime()}} </p>
      <span>
        <i class="bi-gear-fill" *ngFor="let i of getDifficultyFiledArray()"></i>
        <i class="bi-gear" *ngFor="let i of getDifficultyEmptyArray()"></i>
      </span>

    </div>
    <div class="col" style="margin-top: 0.5em;">
      <button type="button" class="btn btn-warning" (click)="goToRecipeEditPage()" style="margin-right: 0.5em;"><i class="bi-pencil"></i> </button>
      <button type="button" class="btn btn-danger" (click)="deleteRecipe()"><i class="bi-trash"></i> </button>
    </div>
  </div>
</div>
